extends header

block content
    #matches(style="display:none")= JSON.stringify(matches)
    #pit(style="display:none")= JSON.stringify(pit)
    link(rel='stylesheet', href='/css/vis.min.css')
    link(rel='stylesheet', href='/DataTables/datatables.min.css')
    script(src='/js/vis.min.js')
    script(src='/DataTables/datatables.min.js')
    script(src='/js/natural.js')
    script(src='/js/Chart.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/teamevent.js')
    style.
        div.dt-button-collection.fixed.four-column {
            margin-left: -500px;
            width: 1000px;
        }
        div.dataTables_scrollBody table tbody tr {
            height: auto !important;
        }
    h1 Team #{team.team_number} #{team.nickname}
    h6 #{team.city}, #{team.state_prov}, #{team.country}
    .row
        .col-sm-4
            img#photo1.img-fluid
        .col-sm-4
            img#photo2.img-fluid
        .col-sm-4
    .row
        .col-12
            h1 Pit
    .row
        .col-12
            table#pit-table.display.cell-border(width='100%', style="table-layout: fixed;")
    .row
        .col-12
            h1 Match
    .row
        .col-12
            table#match-table.display.cell-border(width="100%", style="table-layout: fixed;")
    .row
        .col-12
            h1 Chart
    .row
        .col-12
            select#yaxis.custom-select.mr-sm-2
                option(value='' selected) Choose...
                option(value='5') Cargoship Cargo
                option(value='6') Rocket 1 Cargo
                option(value='7') Rocket 2 Cargo
                option(value='8') Rocket 3 Cargo
                option(value='9') Dropped Cargo
                option(value='10') Cargoship Hatch
                option(value='11') Rocket 1 Hatch
                option(value='12') Rocket 2 Hatch
                option(value='13') Rocket 3 Hatch
                option(value='14') Dropped Hatch
                option(value='18') Speed
                option(value='19') Stability
                option(value='20') Driver Skill
                option(value='21') Defence
                option(value='24') Total Cargo
                option(value='25') Total Hatch
                option(value='31') Cargo Success
                option(value='32') Hatch Success
                option(value='33') Total Points
            canvas#match-chart(width="100%", height="50")
    .row
        .col-12
            h1 Timeline
    .row
        .col-12
            select#timeline-select.custom-select.mr-sm-2(style='margin-bottom: 15px')
                option(value='' selected) Choose...
                for match in matches
                    option(value= match._id selected)= match._id
            #timeline(style="margin-bottom: 15px;")
